---
---
  <div class="max-w-6xl mx-auto flex justify-between items-center py-8">
    <p>Logo</p>
    <p>©2025 Huijin Bak</p>
    <a href="https://www.linkedin.com/in/huijin-bak/">LinkedIn</a>
  </div>
      