---
import Gradient from "../components/Gradient.jsx";
import Metaballs from "../components/MetaBalls.jsx";
---

<section class="bg-black">
  <!-- 🌀 Responsive Gradient Background -->
  <Gradient client:visible  />
</section>
